body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;

}
header {
    background: #4CAF50;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}
h1 {
    color: #333;
}
h2 {
    color: #4CAF50;
}
p {
    margin: 10px 0;
}
footer {
    text-align: center;
    padding: 10px;
    background: #4CAF50;
    color: #fff;
    width: 100%;
    bottom: 0;
}
img{
    display: block;  
    margin: 0 auto;
    width: 467px;
    height: 389px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}